PORT = 3000

DATABASE_URL="YOUR_DB_URL"
DIRECT_URL="YOUR_DB_DIRECT_URL"

JWT_SECRET='YOUR_JWT_ACCESS_TOKEN_SECRET'
REFRESH_TOKEN_SECRET='YOUR_REFRESH_TOKEN_SECRET'

FRONTEND_URL='https://habit-tracker-frontend-url.example.com'

FIREBASE_PROJECT_ID="YOUR_PROJECT_ID"
FIREBASE_CLIENT_EMAIL="YOUR_CLIENT_EMAIL"
FIREBASE_PRIVATE_KEY="YOUR_PRIVATE_KEY"